.calculator-body {
    padding: 2.5rem 2.0rem;
    border-radius: 20px;
    background-color: #585858;
    border: 3px outset #1b1b1b;
}

.num-pad {
    font-family: $body-font;
    display: grid;
    grid-template-rows: repeat(4, 1fr); 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    span {
        display: block;
        text-align: center;
        font-size: 4.0rem;
    }
}

.key {
    background: #ededed;
    border-radius: 10px;
    width: 6.0rem;
    height: 5.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 0px darken(#ededed, 40%);
    transition: all 50ms ease-in-out;
    cursor: pointer;
    &:last-of-type {
        background: #f8b352;
    }
    &:active {
        box-shadow: 0px 0px 0px;
        transform: translateY(3px);
    }
}

.key-press {
    box-shadow: 0px 0px 0px;
    transform: translateY(3px);
}

.display {
    font-family: $display-font;
    text-align: right;
    font-size: 5.0rem;
    padding: 0.5rem 1.0rem;
    margin-bottom: 1.5rem;
    background: #cfe0cd;
    border-radius: 20px;
    border: 4px inset #788678;
}